<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %L - %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender name="FILEOUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logs/${application.name}/application${server.name}.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/${application.name}/bak${server.name}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %L - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="REQLOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logs/request.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/request.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILEOUT" />
	</root>
	
	<logger name="org.apache.commons" level="ERROR" />
	<logger name="org.apache.zookeeper" level="ERROR" />
	
	<logger name="com.request.log" additivity="true" level="INFO" >
		<appender-ref ref="REQLOG" />
	</logger>
</configuration>